// Component-specific styles

main {
  @include flex(column, center, start);
  min-width: 327px;
  max-width: 384px;
  gap: 24px;
  padding: 24px;
  background-color: $white;
  border-radius: 20px;
  border: 1px solid $black;
  box-shadow: 8px 8px 0px 0px #000;

  p:first-child {
    @include flex(row, center, center);
    padding: 4px 12px;
    border-radius: 4px;
    background-color: $yellow;
    @include text-style(0.75rem, 800);
  }

  p:nth-child(2) {
    @include text-style(0.75rem, 500);
  }

  p:last-child {
    color: $grey;
    @include text-style(0.875rem, 500);
  }

  h1 {
    @include text-style(1.25rem, 800);
  }
}

main > img {
  width: 100%;
  border-radius: 10px;
}

div.content {
  @include flex(column, center, start);
  gap: 12px;
}

div.author {
  @include flex(row, start, center);
  gap: 12px;

  img {
    width: 32px;
    height: 32px;
    border-radius: 32px;
  }

  p {
    color: $black;
    @include text-style(0.875rem, 800);
  }
}

footer{
  margin-top: 40px;
  a{
    text-decoration: none;
    color: $grey;
  }
}