// Colors

// Primary
$yellow: hsl(47, 88%, 63%);

// Neutral
$white: hsl(0, 0%, 100%);
$grey: hsl(0, 0%, 50%);
$black: hsl(0, 0%, 7%);

// Typography

// Body Copy
$font-size-paragraph: 16px;

// Font
$font-family-figtree: 'Figtree', sans-serif;
$font-weight-regular: 500;
$font-weight-bold: 800;